

.reservation-card {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  width: 40%;
  gap: 20px;
  font-family: sans-serif;
}

.card {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.card-image {
  width: 100%;
  display: block;
}

.card-content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background: #fafafa;
  text-align: center;
}

.card-content > h2 {
  margin-top: 0;
  text-align: center;
}

.card-content > p:last-of-type {
  margin-bottom: 0;

}

.card-button {
  padding: 15px;
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  background: #eeeeee;
  font-size: 0.8em;
  border-bottom: 2px solid #cccccc;
}

.card-button> button:hover {
  border-radius: 5px;
  background-color: #64968c;
  color: white;
}

.card-button> button {
  color: black;
}