
.edit-property-form {
    background-color: rgb(103, 104, 105);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.form-label {
    color: white;
    margin-top: 25px;
}

.edit-form-outer-wrapper {
    flex-direction: column;
    align-items: center;
}

.edit-property-submit {
    margin-top: 25px;
}

body, html {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display:table;
}
/* body {
    display:table-cell;
    vertical-align:middle;
} */
form {
    display:table;
    margin:auto;
}
