.reservation-wrapper {
  grid-template-columns: repeat(3, 1fr);
}

.cards {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  gap: 20px;
  font-family: sans-serif;
}

.card {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.card-image {
  width: 100%;
  display: block;
}

.card-content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background: #fafafa;
}

.card-content > h2 {
  margin-top: 0;
}

.card-content > p:last-of-type {
  margin-bottom: 0;
}

.card-button {
  padding: 15px;
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  background: #eeeeee;
  font-size: 0.8em;
  border-bottom: 2px solid #cccccc;
}

.card-button> button {
  border-radius: 5px;
  
}