.button-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: rgb(65, 62, 62);
}

#toggle-menu li {
    float: right;
    list-style-type: none;
  }

  #logo-button {
    background-color: rgb(65, 62, 62);
  }


.navlinks {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: 10px;
    color: #031322 !important;
    font-style: italic;
}
.navlinks-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: 10px;

}

.profile-dropdown {
    list-style-type: none;
    color: white;

}

.nav {
    text-decoration: none;
    color: #edeff1 !important;
    font-style: italic;
    margin-top: 30px;
}

.nav:active {
    color: lightseagreen;
}
